.client {
  -fx-alignment: center;
}

.cell {
  -fx-alignment: center;
  -fx-background-color: lavender;
  -fx-font-weight: bold;
}

.flag {
  -fx-background-color: red;
}

.hide {
  -fx-alignment: center;
  -fx-background-color: lightslategray;
}

.show {
  -fx-alignment: center;
  -fx-background-color: transparent;
}

.grid {
  -fx-alignment: center;
  -fx-background-color: black;
}

.play-grid {
  -fx-alignment: center;
  -fx-background-color: transparent;
}